/* ------------ Общие параметры: ------------ */
body {
  margin: 0;
  padding: 0;
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightseagreen;
  padding-top: 50px;
}

.content-task {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.conteiner__frame {
  position: relative;
  background-color: pink;
  width: 90vw;
  height: 30vw;
  border: 2px solid black;
  border-radius: 55px;
}

.frame_input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  border-radius: 55px;
}

.frame_span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
  /* pointer-events: none; */
}

.span_text {
  font-size: 2em;
  width: 11em;
  text-align: center;
  cursor: default;
}

.conteiner__images {
  width: 90vw;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.image__conteiner {
  position: relative;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  height: auto;
  border: 2px solid black;
  background-color: aquamarine;
}

.image__delete {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  right: -15px;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image__delete:hover {
  background-color: aqua;
}
