/* ------------ Общие параметры: ------------ */
body {
  margin: 0;
  padding: 0;
  background-color: #f6f8f9;
  font-family: Arial, Helvetica, sans-serif;
}

.link__task {
  font-size: 2em;
  text-decoration: none;
  line-height: 4em;
  padding: 5px;
  border: 2px solid black;
  background-color: aquamarine;
  cursor: pointer;
}

.link__task:nth-child(1n + 2) {
  margin-top: 15px;
}

.link__task:hover {
  background-color:chartreuse;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-task {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-return {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  padding: 15px;
  background-color: aquamarine;
  border-radius: 50%;
  cursor: pointer;
}

.btn-return:hover,
.btn__add:hover {
  background-color:chartreuse;
}

/* ------------ CSS для задачи 1: ------------ */
body.task-1 {
  background-color: lightseagreen;
  cursor: default;
  padding-top: 50px;
}

body.task-1.grabbing {
  cursor: grabbing;
}

.conteiner {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: flex-start;
  padding-bottom: 30px;
}

.column {
  background-color: rgb(201, 199, 199);
  border-radius: 5px;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
  flex: 1;
}

.btn-add-card {
  border-width: 0px;
  background-color: rgb(201, 199, 199);
  cursor: pointer;
}

.conteiner-button.noactive {
  display: none;
}

.btn-add-card:hover {
  text-decoration: underline;
}

.column-title {
  margin-top: 0;
  margin-left: 5px;
}

.new-card-textarea {
 width: 100%;
 box-sizing: border-box;
 resize: none;
 padding: 5px;
 cursor: inherit;
}

.new-card-control {
  display: flex;
  align-items: center;
}

.control-button-add {
  background-color: rgb(62, 219, 48);
  color: white;
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
}

.control-button-add:hover {
  background-color: rgb(49, 177, 38);
}

.control-cross {
  margin-left: 5px;
  background-image: url('../img/cross.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.control-cross:hover {
  opacity: 0.5;
}

.card {
  min-height: 3em;
  word-break: break-word;
  background-color: #f6f8f9;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  box-sizing: border-box;
  color: rgb(49, 49, 49);
  font-size: 0.8em;
  position: relative;
  cursor: pointer;
}

.card:hover {
  background-color: #d3d5d6;
}

.card-cross {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 1em;
  height: 1em;
  background-image: url('../img/cross.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e0e0e0;
  border: 5px solid #e0e0e0;
}

.card-shadow {
  width: 100%;
  background-color: darkgray;
  border-radius: 5px;
  margin-bottom: 5px;
}

.transfer {
  position: absolute;
  z-index: 999;
  transform: rotate(5deg);
  pointer-events: none;
}

.grabbing .card,
.grabbing .btn-add-card,
.grabbing .control-button-add,
.grabbing .control-cross,
.grabbing .card {
  cursor: grabbing;
}

.grabbing .card:hover  {
  background-color: #f6f8f9;
}

/* ------------ CSS для задачи 2: ------------ */
body.task-2 {
  background-color: lightseagreen;
  padding-top: 50px;
}

.conteiner__form {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(151, 252, 247);
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  display: inline-block;
}

.conteiner__label {
  display: flex;
  margin-bottom: 10px;
  text-align: center;
}

.conteiner__error {
  text-align: right;
  font-size: 1em;
  color: red;
  height: 2em;
}

.label__title {
  flex-grow: 1;
  padding-right: 20px;
  display: inline-block;
}

.btn__add {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 20px;
}

.conteiner__frame {
  position: relative;
  background-color: pink;
  width: 90vw;
  height: 30vw;
  border: 2px solid black;
  border-radius: 55px;
}

.frame_input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  border-radius: 55px;
}

.frame_span {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
  /* pointer-events: none; */
}

.span_text {
  font-size: 2em;
  width: 11em;
  text-align: center;
  cursor: default;
}

.conteiner__images {
  width: 90vw;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.image__conteiner {
  position: relative;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  height: auto;
  border: 2px solid black;
  background-color: aquamarine;
}

.image__delete {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  right: -15px;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image__delete:hover {
  background-color: aqua;
}

/* ------------ CSS для задачи 3: ------------ */
body.task-3 {
  background-color: rgb(32, 178, 93);
  padding-top: 50px;
}

.task-3 .content-task {
  display: block;
}

.content-conteiner-files {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

.content-files {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: antiquewhite;
}

/* .content-files-title {
  margin-left: 10px;
} */

.content-download {
  margin-top: 10px;
}